html {
    font-size: 13px;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Volkhov', serif; */
    color: #404040;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-family: 'Volkhov', serif !important;
}

:root , .active {
    --black: #060606;
    --white: #fdfffc;
    --black2: #404040;
    --white2: #b7b7b7;
}

#services__block{
    background-color: var(--white);
}

#index__block{
    background-color: var(--white);
}

.services__title {
    background-color: #009f4d !important;
}

.title__big {
    font-weight: 700;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
}

.card-img-top {
    cursor: pointer;
}

.services__title h1 {
    font-size: 3rem;
}

.services__title p {
    font-size: 1.4rem;
}

.services__title h4 {
    left: 0;
    right: 50%;
    font-size: 12vw;
    top: -25%;
    color: #fff;
    transform: translate(50%, 50%);
    opacity: .1;
}

.card-body{
    background-color: var(--white);
}

.card-body p:first-of-type {
    color: #009f4d;
    background-color: #009f4d29;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 15px;
    display: inline-block;
    font-size: 1.2rem;
}

.card-body a {
    color: var(--black);
    font-size: 1.8rem;
    display: block;
    font-weight: 500;
    transition: all 0.5s;
}

.card-body p:last-of-type {
    color: var(--black2);
    font-size: 1.3rem;
}

.card-body a:hover {
    color: #009f4d;
    text-decoration: none;
}

.services__block__left {
    /* padding-top: px !important; */
}

.services__block__left h3 {
    color: #fb811e;
}

.services__block__left h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: var(--black);
}

.services__block__left p {
    font-size: 16px;
    line-height: 27px;
    color: var(--black2);
}

.title__bottom span {
    color: #fb811e;
    font-size: 30px;
}

.text__bottom h5 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--black) !important;
}

.services__block__right img {
    border-radius: 35px;
}

.services__block__text {
    bottom: 50px;
    background-color: #fb811e;
    color: #fff;
    text-align: center;
    padding: 30px 61px;
    left: -85px;
    border-radius: 0 0 100px 0;
}

.services__block__text p {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.services__block__text h1 {
    font-size: 70px;
    font-weight: 700;
}

.index__item{
    border: 1px solid transparent;
    transition: all 0.3s;
}

.index__item img{
    height: 10%;
    width: 10%;
}

.index__text {
    color: var(--black);
}

.index__item .index__text h4{
    color: var(--black);
    font-size: 21px;
    font-weight: 600;
    transition: all 0.3s;

}

.index__item .index__text p{
    color: var(--black2);
    font-size: 17px;
    padding-top: 10px;
}

.index__item a:hover{
    text-decoration: none;
}

.index__item:hover{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #fafafa;
}

.index__item:hover h4{
    color: #009f4d;
}

@media (max-width: 768px){
    .responMD{
        left: -50px;
    }
}

#navSwith{
    position: fixed;
    top: 0;
    right:0;
    display: block;
    background-color: var(--white);
    width: 100%;
    box-shadow: 0 0 10px #404040;
    padding: 22px 0;
}

 #theme{
    color: var(--black);
    padding: 5px;
    cursor: pointer;
    right: 10%;
    top: 0;
    line-height: 44px;
    font-size: 30px;
}

 #theme1{
    color: var(--black);
    padding: 5px;
    cursor: pointer;
    right: 10%;
    top: 0;
    line-height: 44px;
    font-size: 30px;
}

.dark{
    --black: #fff;
    --white: #222222;
    --black2: #b7b7b7;
}

