html {
    font-size: 13px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
}

.container{
    margin: 0 145px !important;
}

.services{
    background-color: #009f4d !important;
}

.title__big{
    font-weight: 700;
}

.card{
    border-radius: 20px;
    overflow: hidden;
}

.card-img-top{
    cursor: pointer;
}

.services__title h1{
    font-size: 3rem;
}

.services__title p{
    font-size: 1.4rem;
}

.services__title h4{
    left: 0;
    right: 50%;
    font-size: 12vw;
    top: -50%;
    color: white;
    transform: translate(50%, 50%);
    opacity: .1;
}

.card-body p:first-of-type{
    color: #009f4d;
    background-color: #009f4d29;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 15px;
    display: inline-block;
    font-size: 1.2rem;
}

.card-body a{
    color: black;
    font-size: 1.8rem;
    display: block;
    font-weight: 500;
    transition: all 0.5s;
}

.card-body p:last-of-type{
    color: #404040;
    font-size: 1.3rem;
}

.card-body a:hover{
    color: #009f4d;
    text-decoration: none;
}

.services__block__left{
    padding-top: 100px !important;
}

.services__block__left h3{
    color: #fb811e;
}

.services__block__left h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #070707;
}

.services__block__left p{
    font-size: 16px;
    line-height: 27px;
    color: #707070;
}

.title__bottom span{
    color: #fb811e;
    font-size: 25px;
}

.text__bottom h5{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}